[submodule "common"]
	path = common
	url = https://github.com/oskarirauta/common_cpp.git
[submodule "expr"]
	path = expr
	url = https://github.com/oskarirauta/expr_cpp.git
[submodule "throws"]
	path = throws
	url = https://github.com/oskarirauta/throws_cpp.git
[submodule "uptime"]
	path = uptime
	url = https://github.com/oskarirauta/uptime_cpp.git
